{%- comment %}

  Article Card
  ------------------------------------------------------------------------------

  Usage:

  {% include 'article-card',
              article: { article },
              show_author: { boolean } - defaults to true
              show_date: { boolean } - defaults to true
              show_tags: { boolean } - defaults to true
              show_excerpt: { boolean } - defaults to false
              img_size: { string } - optional - defaults to '600x450' // see https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters
  %}

{% endcomment -%}

{% comment %} Defaults {% endcomment %}
{% if img_size == blank %}
  {% assign img_size = '600x450' %}
{% endif %}

{% if article and article != blank %}
  
  {% comment %} Shopify doesn't have a way to access article.blog directly so we have to parse out the url {% endcomment %}
  {% assign blog_handle = article.url | replace: 'blogs/', '' | replace: '/', ' ' | split: ' ' | first %}

  <div class="article-card">
    {% if article.image %}
      <div class="article-card__image">
        <img src="{{ article | img_url: img_size, crop: 'center' }}" alt="{{ article.image.alt }}"/>
      </div>
    {% endif %}
    <div class="article-card__info">
      <a href="{{ article.url }}">
        <h3 class="article-card__info-title">{{ article.title }}</h3>
      </a>
      <div class="article-card__info-meta">
        {{ article.published_at | time_tag: format: 'month_day_year_abbrev' }}
      </div>      
      <div class="article-card__info-excerpt">
        {{ article.content }}
      </div>
    </div>
  </div>
{% endif %}
