{%- comment %}

  Collection Sidebar
  ------------------------------------------------------------------------------

  Usage:

  {% include 'collection-sidebar',
              collection_handle: { string } %}

{% endcomment -%}

{% if collection_handle %}
  {%- comment -%}
    Need to get a fresh copy of the collection in case the global 'collection' object is being filtered
  {%- endcomment -%}
  
  {% assign c = collections[collection_handle] %}
  
  <div class="sidebar" data-sidebar>
    {% if c %}
      {% assign url = c.url %}

      {% if current_tags %}
        {% assign tags_param = current_tags | join: '+' %}
        {% assign url = url | append: '/' | append: tags_param %}
      {% endif %}

      {% if product %}
        {% assign url = url | append: '/products/' | append: product.handle %}
      {% endif %}

      <p><a href="{{ url }}" data-breadcrumb>{{ url }}</a></p>
      
      <p>
        <a href="{{ c.url }}/lookbook">Lookbook</a>
      </p>

      <div class="d-none d-lg-block">

        {%- comment -%} Collect product types + sale item check {%- endcomment -%}
        {% assign sale_items = false %}
        {% assign product_types = '' %}

        {% for p in c.products %}
          {% assign product_types = product_types | append: p.type | append: '$$' %}

          {% if p.price_min < p.compare_at_price_min %}
            {% assign sale_items = true %}
          {% endif %}
        {% endfor %}

        {% if product_types %}
          {% assign product_types_array = product_types | split: '$$' | uniq %}
          <p>
            {% for type in product_types_array %}
              <a href="{{ c.url }}/{{ type | handle }}" data-filter="{{ type | handle }}">{{ type }}</a>
              {% unless forloop.last %}<br />{% endunless %}
            {% endfor %}
          <p>
        {% endif %}

        {% if sale_items %}
          <a href="{{ c.url }}/sale" data-filter="sale">Sale</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}