{%- comment %}

  Collection Control Bar
  ------------------------------------------------------------------------------

  Usage:

  {% render 'collection-control-bar',
             collection_handle: { string }
  %}

{% endcomment -%}

{% if collection_handle %}
  {%- comment -%}
    Need to get a fresh copy of the collection in case the global 'collection' object is being filtered
  {%- endcomment -%}
  
  {% assign c = collections[collection_handle] %}

  {% assign is_lookbook  = false %}
  {% assign show_filters = true %}

  {% if current_tags contains 'lookbook' %}
    {% assign is_lookbook  = true %}
    {% assign show_filters = false %}
  {% endif %}

  {% if c %}
    {% capture crumb_home %}
      <span class="crumb">
        <a href="/">root</a>
      </span>
    {% endcapture %}

    {%- capture crumb_collection -%}
      <span class="crumb">
        <a href="/collections/{{ c.handle }}">{{ c.handle }}</a>
      </span>
    {%- endcapture -%}

    {%- capture crumb_collection_tag -%}
      {% if current_tags %}
        <span class="crumb">
          <a href="/collections/{{ c.handle }}/{{ current_tags }}">{{ current_tags }}</a>
        </span>
      {% endif %}
    {%- endcapture -%}


    {%- capture filters -%}
      {%- comment -%} Collect product types + sale item check {%- endcomment -%}
      {% assign sale_items = false %}
      {% assign product_types = '' %}

      {% for p in c.products %}
        {% if p.type != blank %}
          {% assign product_types = product_types | append: p.type | append: '$$' %}
        {% endif %}

        {% if p.price_min < p.compare_at_price_min %}
          {% assign sale_items = true %}
        {% endif %}
      {% endfor %}

      {% assign product_types_array = product_types | split: '$$' | uniq %}

      {% if product_types_array.size > 0 %}
        <ul class="filter-menu">
          {% for type in product_types_array %}
            <li>
              <a
                href="#"
                class="btn"
                data-filter
                data-type="product-type"
                data-value="{{ type | handle }}"
              >
                {{ type }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if sale_items %}
        <ul class="filter-menu">
          <li>
            <a
              href="#"
              class="btn"
              data-filter
              data-type="sale"
              data-value="true"
            >
              Sale
            </a>
          </li>
        </ul>
      {% endif %}      
    {%- endcapture -%}
  
    <div class="control-bar">     
      <div class="control-bar__row">
        <div class="control-bar__group">
          <div class="control-bar__item">
            <div class="breadcrumbs">
              {{ crumb_home | strip }}{{ crumb_collection | strip }}{{ crumb_collection_tag | strip }}
            </div>
          </div>
        </div>

        <div class="control-bar__group">
          {% unless is_lookbook %}
            <div class="control-bar__item">
              <a href="/collections/{{ c.handle }}/lookbook">/Lookbook</a>
            </div>

            <div class="control-bar__item d-none d-lg-block">
              /Grid:
              <a href="#" data-grid-toggle data-column-count="2">2</a>
              <a href="#" data-grid-toggle data-column-count="4">4</a>
            </div>            

            {% if filters != blank and show_filters %}
              <div class="control-bar__item">
                <a href="#" data-filters-toggle>/Filter</a>
              </div>
            {% endif %}
          {% endunless %}
        </div>
      </div>

      {% if filters != blank and show_filters and is_lookbook == false %}
        <div class="control-bar__row">
          <div class="control-bar__filters" data-filter-container>
            {{ filters }}
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endif %}