{%- comment %}

  Collection Sidebar
  ------------------------------------------------------------------------------

  Usage:

  {% include 'collection-sidebar',
              collection_handle: { string } %}

{% endcomment -%}

{% if collection_handle %}
  {%- comment -%}
    Need to get a fresh copy of the collection in case the global 'collection' object is being filtered
  {%- endcomment -%}
  
  {% assign c = collections[collection_handle] %}

  {% assign is_lookbook = false %}
  {% assign show_filters = true %}

  {% if current_tags contains 'lookbook' %}
    {% assign is_lookbook = true %}
    {% assign show_filters = false %}
  {% endif %}

  {% if c %}
    {% capture crumb_home %}
      <span class="crumb">
        <a href="/">root</a>
      </span>
    {% endcapture %}

    {%- capture crumb_collection -%}
      <span class="crumb" data-crumb="collection">
        <a href="/collections/{{ c.handle }}">{{ c.handle }}</a>
      </span>
    {%- endcapture -%}

    {%- capture crumb_collection_tag -%}
      {% if current_tags %}
        <span class="crumb" data-crumb="collection-tag">
          <a href="/collections/{{ c.handle }}/{{ current_tags }}">{{ current_tags }}</a>
        </span>
      {% endif %}
    {%- endcapture -%}

    {%- capture crumb_collection_product -%}
      <span class="crumb {% unless product %}is-hidden{% endunless %}" data-crumb="collection-product">
        <a href="{% if product %}/collections/{{ c.handle }}/products/{{ product.handle }}{% endif %}">{% if product %}{{ product.handle }}{% endif %}</a>
      </span>
    {%- endcapture -%} 

    {%- capture filters -%}
      {%- comment -%} Collect product types + sale item check {%- endcomment -%}
      {% assign sale_items = false %}
      {% assign product_types = '' %}

      {% for p in c.products %}
        {% if p.type != blank %}
          {% assign product_types = product_types | append: p.type | append: '$$' %}
        {% endif %}

        {% if p.price_min < p.compare_at_price_min %}
          {% assign sale_items = true %}
        {% endif %}
      {% endfor %}

      {% if product_types %}
        {% assign product_types_array = product_types | split: '$$' | uniq %}
        <ul class="sidebar-menu">
          {% for type in product_types_array %}
            <li>
              <a
                href="#"
                data-filter
                data-type="product-type"
                data-value="{{ type | handle }}"
              >
                /{{ type }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if sale_items %}
        <ul class="sidebar-menu">
          <li>
            <a
              href="#"
              data-filter
              data-type="sale"
              data-value="true"
            >
              /sale
            </a>
          </li>
        </ul>
      {% endif %}      
    {%- endcapture -%}
  
    <div class="sidebar">
      <div class="breadcrumbs" data-breadcrumbs>
        {{ crumb_home | strip }}{{ crumb_collection | strip }}{{ crumb_collection_tag | strip }}{{ crumb_collection_product | strip }}
      </div>
      
      <div class="sidebar-row">
        <ul class="sidebar-menu">
          <li><a href="{{ c.url }}/lookbook" {% if is_lookbook %}class="is-active"{% endif %}>/Lookbook</a></li>
        </ul>
        {% if filters != blank and show_filters %}
          <a href="#" class="sidebar-filters-toggle btn" data-filters-toggle>Filter</a>        
        {% endif %}
      </div>

      {% if filters != blank and show_filters %}
        <div class="sidebar-filters" data-filter-container>
          {{ filters }}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endif %}