{%- comment %}

  Product Detail Gallery
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail-gallery',
              product: { product } - required
              current_variant: { current_variant }
              selected: { boolean }
  %}  

{% endcomment -%}

{% assign photo_zoom_dimension  = '1300x' %}

{% comment %} Defaults {% endcomment %}
{% assign current_variant = current_variant | default: product.selected_or_first_available_variant %}

<div class="product-gallery" data-product-gallery> 
  <div class="product-gallery__slideshow">
    <div class="swiper-container" data-slideshow>
      <div class="swiper-wrapper">
        {% for image in product.images %}
          <div
            class="product-gallery__slideshow-slide swiper-slide"
            data-slide
            data-id="{{ image.id }}"
          >
            <a href="{{ image | img_url: photo_zoom_dimension }}" data-image-link>
              <div
                class="product-gallery__slideshow-slide-image"
                style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' }}"
              >
                <img
                  data-src="{{ image | img_url: '400x' }}"
                  data-srcset="
                    {{ image | img_url: '400x' }}  400w,
                    {{ image | img_url: '600x' }}  600w,
                    {{ image | img_url: '800x' }}  800w,
                    {{ image | img_url: '1200x' }} 1200w,
                    {{ image | img_url: '1600x' }} 1600w,
                    {{ image | img_url: '1800x' }} 1800w,
                  "
                  alt="{{ image.alt | escape }}"
                />
              </div>
            </a>
          </div>
        {% endfor %}
      </div>

      <div class="product-gallery__slideshow-footer">
        <span class="product-gallery__slideshow-pagination" data-pagination>
          <span data-pagination-progress></span>
        </span>
        <span class="btn" data-zoom-trigger>Zoom +</span>
      </div>
    </div>   
  </div>

  <div class="product-gallery__scroller">
    {% for image in product.images %}
      <div class="product-gallery__scroller-image">
        <img
          data-src="{{ image | img_url: '400x' }}"
          data-srcset="
            {{ image | img_url: '400x' }}  400w,
            {{ image | img_url: '600x' }}  600w,
            {{ image | img_url: '800x' }}  800w,
            {{ image | img_url: '1200x' }} 1200w,
            {{ image | img_url: '1600x' }} 1600w,
            {{ image | img_url: '1800x' }} 1800w,
          "
          alt="{{ image.alt | escape }}"
        />
      </div>
    {% endfor %}
  </div>


  <div class="blowup" data-blowup>
    <div class="blowup__scroll">
      <img class="blowup__image" data-blowup-image alt="Product image zoom" />
    </div>

    <div class="blowup__helper" data-blowup-close>
      <button class="btn is-active">Close Zoom</button>
    </div>
  </div>  
</div>
