{%- comment %}

  Product Detail Gallery
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail-gallery',
              product: { product } - required
              current_variant: { current_variant }
  %}  

{% endcomment -%}

{% assign photo_thumb_dimension = '200x' %}
{% assign photo_main_dimension  = '900x' %}

{% comment %} Defaults {% endcomment %}
{% assign current_variant = current_variant | default: product.selected_or_first_available_variant %}

{% comment %} Make one gallery for all the images {% endcomment %}
<div class="product-gallery" data-product-gallery>
  <div id="slideshow-{{ product.id }}" class="product-gallery__slideshow swiper-container" data-product-gallery-slideshow>
    <div class="swiper-wrapper">
      {% for image in product.images %}
        <div class="swiper-slide" data-image="{{ image.id }}" {% if image.id == current_variant.featured_image.id %} data-initial-slide{% endif %}>
          <img src="{{ image | img_url: photo_main_dimension }}" alt="{{ image.alt | escape }}" class="img-fluid">
        </div>
      {% endfor %}
    </div>
  </div>
  {% if product.images.size > 1 %}
    <div id="slideshow-thumbs-{{ product.id }}" class="product-gallery__thumbnails">
      {% for image in product.images %}
        <div class="product-gallery__thumbnails-slide" data-product-gallery-thumbnails-slide>
          <img src="{{ image.src | img_url: photo_thumb_dimension }}" alt="{{ image.alt | escape }}" class="img-fluid">
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
