{%- comment %}

  Product Card
  ------------------------------------------------------------------------------

  Usage:

  {% render 'product-card',
              product: { product } - required
              lazy_load: { boolean } - optional, defaults to false
              show_sold_out: { boolean } - optional, defaults to false
              show_sku: { boolean } - optional, defaults to false
              linkable: { boolean } - optional, defaults to true
              preview: { boolean } - optional, default to false
              collection: { collection } - optional
  %}

{% endcomment -%}

{% comment %} Defaults {% endcomment %}
{% if lazy_load == blank %}
  {% assign lazy_load = false %}
{% endif %}

{% if show_sold_out == blank %}
  {% assign show_sold_out = false %}
{% endif %}

{% if show_sku == blank %}
  {% assign show_sku = false %}
{% endif %}

{% if linkable == blank %}
  {% assign linkable = true %}
{% endif %}

{% if preview == blank %}
  {% assign preview = false %}
{% endif %}
{% comment %} End Defaults {% endcomment %}

{% comment %} Preview cards can't be linkable or show sold out state {% endcomment %}
{% if preview %}
  {% if linkable %}
    {% assign linkable = false %}
  {% endif %}

  {% if show_sold_out %}
    {% assign show_sold_out = false %}
  {% endif %}
{% endif %}

{% assign product_image_dimension = '600x' %}

{% if product %}
  {% assign product_url = product.url %}
  {% if collection %}
    {% assign product_url = product.url | within: collection %}
  {% endif %}

  <div class="product-card{% if preview %} product-card--preview{% endif %}"
       data-product-card
       {% if preview %}data-preview="true"{% endif %}
       data-id="{{ product.id }}"
       data-handle="{{ product.handle }}"
       data-url="{{ product_url }}"
       data-product-type="{{ product.type | handle }}"
       data-document-title="{% render 'document-title', p: product, c: collection %}"
       data-sale="{% if product.price_min < product.compare_at_price_min %}true{% else %}false{% endif %}">
    <div class="product-card__contents">
      {% if product.featured_image %}
        {% if linkable == true %}<a href="{{ product_url }}">{% endif %}
          <div class="product-card__gallery">
            {% if lazy_load %}
              <div class="product-card__gallery-image" style="height: 0; padding-bottom: {{ product.featured_image.height | times: 100 | divided_by: product.featured_image.width | append: '%' }}" data-product-card-gallery>
                <img data-src="{{ product.featured_image.src | img_url: product_image_dimension, format: 'pjpg' }}" alt="{{ product.featured_image.alt | escape }}" data-product-card-main-lazy>
              </div>
            {% else %}
              <div class="product-card__gallery-image" data-product-card-gallery>
                <img src="{{ product.featured_image.src | img_url: product_image_dimension, format: 'pjpg' }}" alt="{{ product.featured_image.alt | escape }}">
              </div>
            {% endif %}
          </div>
        {% if linkable == true %}</a>{% endif %}
      {% endif %}

      {% if product.available == false and show_sold_out == true %}
        <span class="product-card__badge">Sold Out</span>
      {% endif %}

      {% if show_sku and product.variants[0].sku != blank %}
        <div class="product-card__sku-wrap">
          <span class="product-card__sku" data-sku>{{ product.variants[0].sku }}</span>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
