{%- comment %}

  Product Detail Form Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail-form',
              product: { product } - required
              current_variant: { variant} - optional
  %}

{% endcomment -%}

{% if current_variant == blank %}
  {% assign current_variant = product.selected_or_first_available_variant %}
{% endif %}

{% comment %} Booleans we'll need for the template {% endcomment %}
{% assign product_has_sku = false %}
{% assign selection_required = false %}
{% assign selectable_product_options_count = 0 %}
{% assign back_in_stock_enabled_for_product = false %}
{% assign tagged_with_back_in_stock = false %} 

{% comment %} Check for SKU {% endcomment %}
{% for v in product.variants %}
  {% if v.sku != blank %}
    {% assign product_has_sku = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% comment %} Check size / color options {% endcomment %}
{% for option in product.options_with_values %}  
  {% if option.values.size > 1 %}
    {% assign selection_required = true %}
    {% assign selectable_product_options_count = selectable_product_options_count | plus: 1 %}
    {% assign single_select_variant_option_name = option.name %}
  {% endif %}
{% endfor %}

{% assign selection_required_text = 'products.product.select_options' | t %}
{% if selectable_product_options_count == 1 %}
  {% assign selection_required_text = 'Select ' | append: single_select_variant_option_name %}
{% endif %}

{% for tag in product.tags %}
  {% assign tag_slug = tag | handle | replace: '-', '' %}

  {% if tag_slug == 'backinstock' %}
    {% assign tagged_with_back_in_stock = true %}
  {% endif %}
{% endfor %}

{% comment %}
  BACK IN STOCK check
{% endcomment %}

{% if settings.back_in_stock_klaviyo_list_id != blank and settings.show_back_in_stock_button and tagged_with_back_in_stock %}
  {% assign back_in_stock_enabled_for_product = true %}
{% endif %}

<div data-product-detail-form>
  <h3 data-title>
    {{ product.title }}

    {% comment %}
    {% for option in product.options_with_values %}
      {% assign option_name_upcase = option.name | upcase | strip %}
      {% if option_name_upcase == "COLOR" and option.values.size == 1 %}
        <br />{{ option.values[0] }}
      {% endif %}
    {% endfor %}
    {% endcomment %}    
  </h3>

  {% if product_has_sku %}
    <p class="product-sku-display">
      &nbsp;
      <span class="product-sku" data-sku>{{ current_variant.sku }}</span>
    </p>
  {% endif %}

  <div class="product-description rte">
    {{ product.description }}

    {% if product.metafields.size_guide.html != blank %}
      <p><a href="#" data-size-guide-show>Sizing Information</a></p>
      <div class="product-size-guide hide" data-size-guide>
        {{ product.metafields.size_guide.html }}
        <small>Measurements listed are in centimeters</small>
      </div>
    {% endif %}
  </div>

  {% render 'product-detail-price', product: product, current_variant: current_variant %}

  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
    <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

    <div data-add-to-cart-form-wrapper>
      <form class="pdf-add-to-cart-form" action="/cart/add" method="post" enctype="multipart/form-data" data-add-to-cart-form>
        {% if product.available %}
          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              {% assign option_name_downcase = option.name | downcase %}

              {% comment %} Kind of dumb to create a var for this but it has a more semantic name {% endcomment %}
              {% assign option_has_single_value = false %}
              {% if option.values.size == 1 %}
                {% assign option_has_single_value = true %}
              {% endif %}

              {% comment %} We can only show the UI options as sold out under really specific conditions {% endcomment %}
              {% assign can_show_sold_out_ui_for_option = false %}
              {% if product.options.size == 1 %}
                {% assign can_show_sold_out_ui_for_option = true %}
              {% elsif product.options.size == 2 and option.position == 2 and product.options_with_values[0].values.size == 1 %}
                {% assign can_show_sold_out_ui_for_option = true %}
              {% endif %}

              {% comment %} Don't show the selector if there's only one value {% endcomment %}
              <div class="selector-wrapper form-group js" {% if option_has_single_value %}style="display: none"{% endif %}>
                <!-- @TODO - show for screenreaders? -->
                <label for="SingleOptionSelector-{{ forloop.index0 }}" style="display: none">
                  {{ option.name }}
                </label>

                <select
                  id="SingleOptionSelector-{{ forloop.index0 }}"
                  class="form-control"
                  data-single-option-selector
                  data-index="option{{ option.position }}"
                  style="display: none">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                    </option>
                  {% endfor %}
                </select>
                <div class="option-value-list" data-option-position="{{ option.position }}" data-variant-option-value-list>
                  {% for value in option.values %}

                    {% comment %} If the product only has one option (like size) then we can show values as sold out by checking the variant for that option {% endcomment %}
                    {% assign is_disabled = false %}

                    {% if can_show_sold_out_ui_for_option %}
                      {% for v in product.variants %}
                        {% assign variant_option_prop = 'option' | append: option.position %}
                        {% if v[variant_option_prop] == value and v.available == false %}
                          {% assign is_disabled = true %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}

                    <a href="#"
                       class="option-value btn{% if is_disabled %} is-disabled{% endif %}"
                       data-variant-option-value="{{ value }}"
                       {% if is_disabled %} disabled="disabled" aria-disabled="true"{% endif %}
                    >
                      {{ value }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          {% endunless %}

          <select name="id" class="no-js" data-product-select>
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>

          <input type="hidden" value="1" name="quantity" />

          <div class="pdf-submit-wrapper">
            <button
              type="submit"
              name="add"
              class="btn"
              data-add-to-cart
              {% if selection_required or current_variant.available == false %}disabled="disabled"{% endif %}>
                <span data-add-to-cart-text>
                  {% if selection_required %}
                    {{ selection_required_text }}
                  {% elsif current_variant.available %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
            </button>
            <a href="#" class="pdf-status" data-status-success data-ajax-cart-trigger></a>
            <div class="pdf-status" data-status-error></div>
          </div>
        {% else %}
          <div class="pdf-submit-wrapper">
            {% if back_in_stock_enabled_for_product %}
              {% comment %} Can't put a form inside another form so put it down below {% endcomment %}
            {% else %}
              <button class="btn" disabled="disabled">{{ 'products.product.sold_out' | t }}</button>
            {% endif %}
          </div>
        {% endif %}
      </form>

      {% comment %} Can't put a form inside another form {% endcomment %}
      {% if product.available == false and back_in_stock_enabled_for_product %}
        <div class="pdf-back-in-stock" data-back-in-stock>
          <span class="text-uppercase" style="padding-right: 12px; flex-shrink: 0;">{{ 'products.product.sold_out' | t }}</span>
          <form method="post"
                class="newsletter-form"
                data-newsletter-form
                data-klaviyo-list-id="{{ settings.back_in_stock_klaviyo_list_id }}"
                data-klaviyo-source="{{ product.handle }}"
            >
            <a href="#" class="newsletter-form-contents-trigger btn" data-form-contents-trigger>
              {{ settings.back_in_stock_button_text | default: 'Notify me' }}
            </a>
            <div class="newsletter-form-contents" data-form-contents>
              <div class="newsletter-form-inputs">
                <div class="minimal-input-box">
                  <label for="newsletter-{{ product.id }}" class="sr-only"></label>
                  <div class="form-control-container">
                    <input type="email" id="newsletter-{{ product.id }}" class="form-control" />
                  </div>
                  <button type="submit" class="btn">
                    Submit
                  </button>
                </div>
              </div>
              <div class="newsletter-form-message"
                  data-form-message
                  data-success="We'll notify you when this product becomes available"
                  data-already-subscribed="{% render 'newsletter-form-message', type: 'already-subscribed' %}"
                  data-fail="{% render 'newsletter-form-message', type: 'fail' %}">
              </div>  
            </div>
          </form>
        </div>   
      {% endif %}      
    </div>
  </div>

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {% render 'product-json', product: product %}
    </script>
  {% endunless %}
</div>
