{%- comment %}

  Product Card
  ------------------------------------------------------------------------------

  Usage:

  {% render 'product-card',
              product: { product } - required
              show_info: { boolean } - optional, defaults to true
              show_sold_out: { boolean } - optional, defaults to false
              linkable: { boolean } - optional, defaults to true
              preview: { boolean } - optional, default to false
              collection: { collection } - optional
  %}

{% endcomment -%}

{% comment %} Defaults {% endcomment %}
{% if show_info == blank %}
  {% assign show_info = true %}
{% endif %}

{% if show_sold_out == blank %}
  {% assign show_sold_out = false %}
{% endif %}

{% if linkable == blank %}
  {% assign linkable = true %}
{% endif %}

{% if preview == blank %}
  {% assign preview = false %}
{% endif %}
{% comment %} End Defaults {% endcomment %}

{% comment %} Preview cards can't be linkable or show sold out state {% endcomment %}
{% if preview %}
  {% if linkable %}
    {% assign linkable = false %}
  {% endif %}

  {% if show_sold_out %}
    {% assign show_sold_out = false %}
  {% endif %}
{% endif %}

{% comment %} Start template vars {% endcomment %}
{% assign product_image_dimension = '600x' %}
{% assign product_url = product.url %}
{% assign is_new = false %}
{% assign badge_text = '' %}
{% comment %} End template vars {% endcomment %}

{% if product %}
  {% if collection %}
    {% assign product_url = product.url | within: collection %}
  {% endif %}

  {% for tag in product.tags %}
    {% assign tag_handle = tag | handle %}
    {% if tag_handle == 'new' %}
      {% assign is_new = true %}
    {% endif %}
  {% endfor %}

  {% capture badge_text %}
    {% if is_new %}
      New
    {% endif %}
  {% endcapture %}
  {% assign badge_text = badge_text | strip | strip_newlines %}

  <div class="product-card{% if preview %} product-card--preview{% endif %}"
       data-product-card
       {% if preview %}data-preview="true"{% endif %}
       data-id="{{ product.id }}"
       data-product-type="{{ product.type | handle }}"
       data-sale="{% if product.price_min < product.compare_at_price_min %}true{% else %}false{% endif %}">
    {% if linkable == true %}<a href="{{ product_url }}" class="product-card__link">{% endif %}

      <div class="product-card__contents">
        {% if badge_text != blank %}
          <span class="product-card__badge">
            {{ badge_text }}
          </span>
        {% endif %}  

        {% if product.featured_image %}
          <div class="product-card__gallery">
            <div class="product-card__gallery-image" style="padding-bottom: {{ product.featured_image.height | times: 100 | divided_by: product.featured_image.width | append: '%' }}" data-product-card-gallery>
              <img
                data-src="{{ product.featured_image | img_url: product_image_dimension, format: 'pjpg' }}"
                data-srcset="{{ product.featured_image | img_url: '180x' }} 180w,
                             {{ product.featured_image | img_url: '360x' }} 360w,
                             {{ product.featured_image | img_url: '540x' }} 540w,
                             {{ product.featured_image | img_url: '650x' }} 650w,
                             {{ product.featured_image | img_url: '720x' }} 720w,
                             {{ product.featured_image | img_url: '850x' }} 850w,
                             {{ product.featured_image | img_url: '1000x' }} 1000w
                            "
                alt="{{ product.featured_image.alt | escape }}"
                data-product-card-main-lazy>
            </div>
          </div>
        {% endif %}

        {% if show_info == true %}
          <div class="product-card__info">
            <div class="product-card__title">
              {{ product.title }}
            </div>
            <div class="product-card__price">
              {% if product.available %}
                {{ product.price | money }}
              {% else %}
                Sold Out
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    {% if linkable == true %}</a>{% endif %}      
  </div>
{% endif %}
