{%- comment %}

  Product Detail Gallery
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail-gallery',
              product: { product } - required
              current_variant: { current_variant }
              selected: { boolean }
  %}  

{% endcomment -%}

{% assign photo_thumb_dimension = '200x' %}
{% assign photo_main_dimension  = '900x' %}
{% assign photo_zoom_dimension  = '1300x' %}
{% assign MAX_PHOTOS = 5 %}

{% comment %} Defaults {% endcomment %}
{% assign current_variant = current_variant | default: product.selected_or_first_available_variant %}

{% comment %} Make one gallery for all the images {% endcomment %}
<div class="product-gallery" data-product-gallery>
  <div id="slideshow-{{ product.id }}" class="product-gallery__slideshow" data-product-gallery-slideshow>
    {% for image in product.images limit: MAX_PHOTOS %}
      {% assign padding_bottom = image.height | times: 100 | divided_by: image.width | append: '%' %}
      {% assign src_attr = 'data-src' %}

      {% if forloop.first %}
        {% assign src_attr = 'src' %}
      {% endif %}

      <div class="product-gallery__slideshow-slide" data-product-gallery-slideshow-slide>
        <a href="{{ image | img_url: photo_zoom_dimension }}" data-gallery-image-link>
          <div class="product-gallery__slideshow-slide-image" style="padding-bottom: {{ padding_bottom }}"> 
            <img {{ src_attr }}="{{ image | img_url: photo_main_dimension }}" alt="{{ image.alt | escape }}">
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  {% if product.images.size > 1 %}
    <div id="slideshow-thumbs-{{ product.id }}" class="product-gallery__thumbnails">
      {% for image in product.images limit: MAX_PHOTOS %}
        {% assign padding_bottom = image.height | times: 100 | divided_by: image.width | append: '%' %}

        <div class="product-gallery__thumbnails-slide"
             data-product-gallery-thumbnails-slide
        >
          <div class="product-gallery__thumbnails-slide-image" style="padding-bottom: {{ padding_bottom }}">
            <img data-src="{{ image.src | img_url: photo_thumb_dimension }}" alt="{{ image.alt | escape }}">
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="blowup" data-blowup>
    <div class="blowup__scroll">
      <img class="blowup__image" data-blowup-image alt="Product image zoom" />
    </div>
    <div class="blowup__helper" data-blowup-close>
      <button class="btn is-active">Close Zoom</button>
    </div>
  </div>  
</div>
