{%- comment %}

  Product Card
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-card',
              product: { product } - required
              lazy_load: { boolean } - optional, defaults to false
              show_sold_out: { boolean } - optional, defaults to false
  %}

{% endcomment -%}

{% comment %} Defaults {% endcomment %}
{% if lazy_load == blank %}
  {% assign lazy_load = false %}
{% endif %}

{% if show_sold_out == blank %}
  {% assign show_sold_out = false %}
{% endif %}
{% comment %} End Defaults {% endcomment %}

{% if product %}
  {% assign product_image_dimension = '600x' %}
  {% assign product_url = product.url %}
  {% if collection %}
    {% assign product_url = product.url | within: collection %}
  {% endif %}

  <div class="product-card" data-product-card data-id="{{ product.id }}">
    <div class="product-card__contents">
      {% if product.featured_image %}
        <div class="product-card__gallery">
          <a href="{{ product_url }}">
            {% if lazy_load %}
              <div class="product-card__gallery-image" style="height: 0; padding-bottom: {{ product.featured_image.height | times: 100 | divided_by: product.featured_image.width | append: '%' }}" data-product-card-gallery>
                <img data-src="{{ product.featured_image.src | img_url: product_image_dimension }}" alt="{{ product.featured_image.alt | escape }}" data-product-card-main-lazy>
              </div>
            {% else %}
              <div class="product-card__gallery-image" data-product-card-gallery>
                <img src="{{ product.featured_image.src | img_url: product_image_dimension }}" alt="{{ product.featured_image.alt | escape }}">
              </div>
            {% endif %}
          </a>
        </div>
      {% endif %}

      {% if product.available == false and show_sold_out == true %}
        <span class="product-card__badge">Sold Out</span>
      {% endif %}
    </div>
  </div>
{% endif %}
