<div data-section-id="{{ section.id }}" data-section-type="ajax-cart">
  <div class="ajax-cart-container" data-ajax-cart-container>
    <form action="/cart" method="post" class="ajax-cart-form" novalidate>
      <div class="ajax-cart__body" data-ajax-cart-body>
        {% comment %} Filled in via JS {% endcomment %}
      </div>
      <div class="ajax-cart__footer" data-ajax-cart-footer>
        <div class="container">
          <div class="ajax-cart__footer-top" data-ajax-cart-footer-top>
            {% comment %} Filled in via JS {% endcomment %}
          </div>
          <div class="ajax-cart__footer-bottom">
            <div class="ajax-cart__footer-row">
              <button type="submit" name="checkout" class="btn btn-alt">
                {{ 'cart.general.proceed_to_checkout' | t }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% raw %}
  <script type="text/x-handlebars-template" data-ajax-cart-body-template>
    {{#if items}}
      <div class="container">
        <div class="ajax-cart__list">
          {{#each items}}
            <div class="ajax-cart__item" data-key="{{ key }}" data-qty="{{ quantity }}" data-ajax-item>
              <div class="ajax-cart__item-child">
                <img src="{{ image }}" class="ajax-cart__item-image">
              </div>
              <div class="ajax-cart__item-child">
                <div class="ajax-cart__item-info">
                  <h3>{{ product_title }}</h3>
                  <div>{{ price }}</div>
                  <div>SKU{{ sku }}</div>
                  <div>{{ variant_title }}</div>
                  {{#if multiple_quantities}}
                  <div>QTY{{ quantity }}</div>
                  {{/if}}
                  <a href="#" class="btn btn-alt" data-ajax-cart-item-remove>Remove</a>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{else}}
      <div class="ajax-cart__empty-message">
        {% endraw %}
        {% if section.settings.empty_text != blank %}
          {{ section.settings.empty_text }}
        {% else %}
          {{ 'cart.general.empty' | t }}
        {% endif %}
        {% raw %}
        <br />
        <a href="/" class="btn btn-alt" data-ajax-cart-close>Shop</a>
      </div>
    {{/if}}
  </script>

  <script type="text/x-handlebars-template" data-ajax-cart-footer-top-template>
    <div class="ajax-cart__footer-row">
      Total: <span>{{ total_price }}</span>
    </div>
  </script>
{% endraw %}


{% schema %}
  {
    "name": "Ajax Cart",
    "settings": [
      {
        "id": "empty_text",
        "type": "richtext",
        "label": "Empty Text",
        "default": "<p>Your bag is empty</p>"
      }
    ]
  }
{% endschema %}
