<div data-section-id="{{ section.id }}" data-section-type="ajax-cart">
  <div class="ajax-cart-container" data-ajax-cart-container>
    <form action="/cart" method="post" class="ajax-cart-form" novalidate>
      <div class="layout-content-wrapper">
        <div class="outer-container">
          <div class="row">
            <div class="col-md-9">
              <div class="ajax-cart__body" data-ajax-cart-body>
                {% comment %} Filled in via JS {% endcomment %}
              </div>              
            </div>
            <div class="col-6 offset-6 col-md-3 offset-md-9">
              <div class="ajax-cart__footer" data-ajax-cart-footer>
                <div class="ajax-cart__footer-top">
                  {% if section.settings.checkout_text %}
                    <div class="ajax-cart__footer-row">
                      {{ section.settings.checkout_text }}
                    </div>
                  {% endif %}                  
                  <div class="ajax-cart__footer-row">
                    Sub total: <span data-ajax-cart-total-price></span>
                  </div>
                </div>
                <div class="ajax-cart__footer-bottom">
                  <div class="ajax-cart__footer-row">
                    <button type="submit" name="checkout" class="btn btn-primary">
                      {{ 'cart.general.proceed_to_checkout' | t }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </form>

    <div class="ajax-cart__empty-message">
      {% if section.settings.empty_text != blank %}
        {{ section.settings.empty_text }}
      {% else %}
        <p>{{ 'cart.general.empty' | t }}</p>
      {% endif %}
      <a href="/" class="btn" data-ajax-cart-close>Return to Shop</a>
    </div>    
  </div>
</div>

{% raw %}
  <script type="text/x-handlebars-template" data-ajax-cart-body-template>
    {{#if items}}
      <div class="row">
        {{#each items}}
          <div class="ajax-cart__item col-md-6" data-key="{{ key }}" data-qty="{{ quantity }}" data-ajax-item>
            <div class="ajax-cart__item-child">
              <div class="ajax-cart__item-image">
                <img src="{{ image }}" />
              </div>
            </div>
            <div class="ajax-cart__item-child">
              <div class="ajax-cart__item-info">
                <h4>{{ product_title }}</h4>
                <div>{{ price }}</div>
                {{#if sku}}
                  <div>{{ sku }}</div>
                {{/if}}
                <div>{{ variant_title }}</div>
                {{#if multiple_quantities}}
                <div>QTY {{ quantity }}</div>
                {{/if}}
                <a href="#" class="btn btn" data-ajax-cart-item-remove>Remove</a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </script>
{% endraw %}


{% schema %}
  {
    "name": "Ajax Cart",
    "settings": [
      {
        "id": "empty_text",
        "type": "richtext",
        "label": "Empty Text",
        "default": "<p>Cart Empty</p>"
      },
      {
        "id": "checkout_text",
        "type": "richtext",
        "label": "Checkout Text",
        "default": "<p>Presale<br />Please allow 6-8 weeks for delivery</p>"
      }
    ]
  }
{% endschema %}
