{%- comment %}

  Collection Section
  ------------------------------------------------------------------------------

{% endcomment -%}

{% paginate collection.products by 600 %}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="collection">
  {% render 'page-title' with collection.title %}
  
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="sidebar">
          {% include 'collection-sidebar', collection_handle: collection.handle %}
        </div>
      </div>
      <div class="col-4">
        {% if collection.products.size > 0 %}
          <div class="content-grid">
            {% for product in collection.products %}

              {% comment %} Lazy load all product images below the fold.  Adjust the limit as needed {% endcomment %}
              {% assign lazy_load = false %}
              {% if forloop.index > 10 %}
                {% assign lazy_load = true %}
              {% endif %}

              <div class="content-grid__item">
                {% include 'product-card',
                            product: product,
                            lazy_load: lazy_load,
                            show_sold_out: true
                %}
              </div>
            {% endfor %}
          </div>

        {% else %}
          <p>{{ 'collections.general.no_matches' | t }}</p>

        {% endif %}      
      </div>
      <div class="col-4" data-product-pane style="padding-right: 100px;"></div>
    </div>
  </div>

  {% comment %} This JSON is required for filtering and sorting {% endcomment %}
  {% capture collection_url %}
    {% if collection.handle == "all" %}
      /collections/all
    {% else %}
      {{ collection.url }}
    {% endif %}
  {% endcapture %}

  <script type="application/json" data-collection-json>
    {
      "url": {{ collection_url | strip | json }},
      "sortDefault": {{ collection.default_sort_by | json }},
      "sortApplied": {{ collection.sort_by | json }}
    }
  </script>
</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection",
    "settings": []
  }
{% endschema %}
