{%- comment %}

  Collection Section
  ------------------------------------------------------------------------------

{% endcomment -%}

{% assign collection_hero_text_color = '' %}

{% capture collection_hero %}
  {% for block in section.blocks %}
    {% if block.type == 'collection_settings' and block.settings.collection == collection.handle %}
      {% if block.settings.collection_hero_enabled %}
        {% assign collection_hero_text_color = block.settings.collection_hero_text_color %}
        {% assign year = 'now' | date: "%Y" %}
        
        {%- capture footer_primary_text -%}
          <small>&copy;<strong>{{ year }}</strong></small>
        {%- endcapture -%}

        {%- capture footer_secondary_text -%}
          <strong>Hood By Air. - {{ collection.title }}</strong>
        {%- endcapture -%}

        {% render 'collection-hero'
                   block: block,
                   primary_image: block.settings.primary_image,
                   primary_video_file_url: block.settings.primary_video_file_url,
                   primary_max_width: block.settings.primary_max_width,
                   secondary_image: block.settings.secondary_image,
                   secondary_video_file_url: block.settings.secondary_video_file_url,
                   secondary_max_width: block.settings.secondary_max_width,
                   footer_primary_text: footer_primary_text,
                   footer_secondary_text: footer_secondary_text,
                   background_color: block.settings.collection_hero_color
        %}
      {% endif %}

      {% break %}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% paginate collection.products by 600 %}
  {% assign content_grid_html = '' %}

  {% for product in collection.products %}
    {% assign preview = false %}

    {% for tag in product.tags %}
      {% assign tag_slug = tag | handle | replace: '-', '' %}

      {% if tag_slug == 'preview' %}
        {% assign preview = true %}
      {% endif %}
    {% endfor %}

    {% capture grid_item_html %}
      <div class="content-grid__item">
        {% render 'product-card',
                   product: product,
                   show_sold_out: true,
                   collection: collection,
                   preview: preview
        %}
      </div>
    {% endcapture %}

    {% assign content_grid_html = content_grid_html | append: grid_item_html %}
  {% endfor %}
{% endpaginate %}

<div
  data-section-id="{{ section.id }}"
  data-section-type="collection"
  data-base-url="{{ collection.url }}"
  data-hero-theme="{{ collection_hero_text_color }}"
>
  {% render 'page-title' with collection.title %}

  {% if collection_hero != blank %}
    {{ collection_hero }}

    <div class="outer-container">
      {% render 'collection-control-bar',
                 collection_handle: collection.handle
      %}
    </div>
  {% else %}
    <div class="layout-content-wrapper">
      <div class="outer-container">
        {% render 'collection-control-bar',
                   collection_handle: collection.handle
        %}
      </div>
    </div>
  {% endif %}

  <div class="outer-container">
    {% if content_grid_html != blank %}
      <div class="content-grid" data-product-card-grid>
        {{ content_grid_html }}
      </div>    
    {% endif %}    
  </div>
</div>

{% schema %}
  {
    "name": "Collection",
    "settings": [],
    "blocks": [
      {
        "type": "collection_settings",
        "name": "Collection Settings",
        "settings": [
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection",
            "info": "Select which collection these settings apply to"
          },
          {
            "type": "header",
            "content": "Collection Hero"
          },
          {
            "type": "checkbox",
            "id": "collection_hero_enabled",
            "label": "Enabled",
            "default": false
          },
          {
            "id": "collection_hero_color",
            "type": "color",
            "label": "Color"
          },
          {
            "type": "select",
            "id": "collection_hero_text_color",
            "label": "Text Color",
            "options": [
              { "value": "light", "label": "Black" },
              { "value": "dark", "label": "White" }
            ],
            "default": "light"
          },
          {
            "id": "primary_image",
            "type": "image_picker",
            "label": "Primary Image"
          },
          {
            "id": "primary_video_file_url",
            "type": "url",
            "label": "Primary Image Video File URL"
          },
          {
            "type": "range",
            "id": "primary_max_width",
            "min": 200,
            "max": 1200,
            "step": 50,
            "unit": "px",
            "label": "Max Width",
            "default": 1200
          },
          {
            "id": "secondary_image",
            "type": "image_picker",
            "label": "Secondary Image"
          },
          {
            "id": "secondary_video_file_url",
            "type": "url",
            "label": "Secondary Image Video File URL"
          },
          {
            "type": "range",
            "id": "secondary_max_width",
            "min": 200,
            "max": 1200,
            "step": 50,
            "unit": "px",
            "label": "Max Width",
            "default": 1200
          }
        ]
       }
     ]
  }
{% endschema %}
