{%- capture footer_blocks_html -%}
  {% for block in section.blocks %}
    {%- capture column_classes -%}
      {% if section.blocks.size == 5 and forloop.last %}col-12 col-sm-6{% else %}col-4 col-sm-3{% endif %}
      col-md-2
    {%- endcapture -%}

    <div class="footer-block {{ column_classes | strip }}" {{ block.shopfy_attributes }}>
      <h6 class="footer-block__title">
        {{ block.settings.title }}
      </h6>

      {% if block.type == 'menu' %}
        {% if block.settings.link_list != blank %}
          {% if block.settings.link_list and linklists[block.settings.link_list].links.size > 0 %}
            <ul class="footer-menu">
              {% for link in linklists[block.settings.link_list].links %}
                <li>
                  <a href="{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      {% elsif block.type == 'info' %}
        {% assign year = 'now' | date: "%Y" %}
        <div class="footer-info">
          {{ block.settings.info | replace: '$year$', year }}
        </div>
      {% elsif block.type == 'mailing_list' %}
        {% if settings.klaviyo_list_id == blank %}
          {% include 'error-for-theme-editor' with 'Klaviyo List ID required for mailing list sign up' %}
        {% else %}
          <form method="post"
                class="newsletter-form"
                data-newsletter-form
                data-klaviyo-list-id="{{ settings.klaviyo_list_id }}"
                data-klaviyo-source="Footer"
            >
              <a href="#" class="newsletter-form-contents-trigger" data-form-contents-trigger>
                Signup
              </a>
              <div class="newsletter-form-contents" data-form-contents>
                <div class="newsletter-form-inputs">
                  <div class="minimal-input-box">
                    <label for="newsletter-{{ block.id }}" class="sr-only"></label>
                    <div class="form-control-container">
                      <input type="email" id="newsletter-{{ block.id }}" class="form-control" />
                    </div>
                    <button type="submit" class="btn">
                      Submit
                    </button>
                  </div>
                </div>
                <div class="newsletter-form-message"
                    data-form-message
                    data-success="{% render 'newsletter-form-message', type: 'success' %}"
                    data-already-subscribed="{% render 'newsletter-form-message', type: 'already-subscribed' %}"
                    data-fail="{% render 'newsletter-form-message', type: 'fail' %}">
                </div>  
              </div>
            </form>          
        {% endif %}
      {% elsif block.type == 'bg_media_control' %}
        <ul class="footer-menu">
          <li>
            Audio: <a href="#" class="btn is-active" data-toggle-background-audio="false">Off</a> <a href="#" class="btn" data-toggle-background-audio="true">On</a>
          </li>
          <li>
            Video: <a href="#" class="btn is-active" data-toggle-background-video="false">Off</a> <a href="#" class="btn" data-toggle-background-video="true">On</a>    
          </li>
        </ul>
      {% endif %}
    </div>
  {% endfor %}
{%- endcapture -%}

<footer class="footer" data-section-id="{{ section.id }}" data-section-type="footer">
  <div class="container">
    <div class="footer-blocks row">
      {{ footer_blocks_html }}
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 5,
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "link_list",
            "id": "link_list",
            "label": "Menu"
          }
        ]
      },
      {
        "type": "info",
        "name": "Info",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "info",
            "label": "Info",
            "info": "Use '$year$' to include the current year."
          }
        ]
      },
      {
        "type": "mailing_list",
        "name": "Mailing List",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Mailing List"
          }
        ]
      },
      {
        "type": "bg_media_control",
        "name": "Background Media Control",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Background"
          }
        ]
      }
    ]
  }
{% endschema %}
