<div data-section-id="{{ section.id }}" data-section-type="header">
  <header role="banner">
    <a href="#" data-menu-toggle>
      {% include 'header-logo' %}
    </a>

    <a href="/cart" class="header-cart btn" data-ajax-cart-trigger>
      <div class="header-cart__badge{% if cart.item_count > 0 %} has-items{% endif %}" data-cart-badge>
        Cart <span data-cart-badge-count>{{ cart.item_count }}</span>
      </div>
    </a>
  </header>

  <div class="overlay overlay--menu" data-menu-overlay>
    <div class="overlay__content">
      <div class="container">
        <nav class="header-nav">
          {% assign ll = linklists[section.settings.main_menu] %}
          {% if ll and ll.links.size > 0 %}
            {% for link in ll.links %}
              <div class="header-nav__item">
                
                {% if link.links.size == 0 %}
                  <a href="{{ link.url }}" class="header-nav__link">{{ link.title }}</a>
                {% else %}
                  {% assign id = 'subnav-' | append: forloop.index %}

                  <a href="#" class="header-nav__link" data-subnav-toggle data-id="{{ id }}">{{ link.title }}</a>
                  <div class="header-nav__subnav" data-subnav data-id="{{ id }}">
                    {% for sublink in link.links %}
                      <div class="header-nav__item">
                        <a href="{{ sublink.url }}" class="header-nav__link">{{ sublink.title }}</a>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}                
              </div>
            {% endfor %}
          {% endif %}
        </nav>
      </div>
    </div>
  </div> 
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main Menu"
      }
    ]
  }
{% endschema %}
