<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="page">
  <div class="outer-container">
    <div class="row">
      <div class="col-md-3 col-lg-2">
        <div class="sidebar">
          {% assign sidebar_linklist = false %}

          {% comment %} Find the first menu containing the link that we're currently on {% endcomment %}
          {% for block in section.blocks %}
            {% for link in linklists[block.settings.menu].links %}
              {% if link.url == page.url %}
                {% assign sidebar_linklist = block.settings.menu %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if sidebar_linklist != false %}
              {% break %}
            {% endif %}
          {% endfor %}

          <ul class="sidebar-menu">
            {% if sidebar_linklist %}
              {% for link in linklists[sidebar_linklist].links %}
                <li>
                  <a href="{{ link.url }}" {% if link.url == page.url %}class="is-active"{% endif %}>
                    {{ link.url | replace: 'pages/', '' | append: '/' }}
                  </a>
                </li>
              {% endfor %}
            {% else %}
             <li><a href="{{ page.url }}">{{ page.url | replace: 'pages/', '' | append: '/' }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="col-md-9 col-lg-10">
        {% render 'page-title' with page.title %}

        <div class="rte" style="max-width: 40em;">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Page",
    "settings": [],
    "blocks": [
      {
        "type": "sidebar_menu",
        "name": "Sidebar Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }
        ]
      }
    ]
  }
{% endschema %}