<div data-section-id="{{ section.id }}" data-section-type="phase-3">
  <div style="display: none !important" data-input>
    {{ section.settings.statement_text }}
  </div>  

  <div class="container text-uppercase">     
    {% if section.blocks.size > 0 %}
      <div class="row" style="margin-top: 30px;">
        {% for block in section.blocks %}
          {% assign multiple_images = false %}
          {% if block.settings.image_1 != blank and block.settings.image_2 != blank %}
            {% assign multiple_images = true %}
          {% endif %}

          <div class="col-md-6">
            {% if block.type == "content_card" %}
              <div class="content-card">
                {% if block.settings.link != blank %}
                  <a href="{{ block.settings.link }}" {% if block.settings.link contains 'http' %}target="_blank"{% endif %}>
                {% endif %}

                <div class="content-card__gallery{% if multiple_images %} has-multiple-images{% endif %}">
                  {% if block.settings.image_1 != blank %}
                    <img srcset="{{ block.settings.image_1 | img_url: '500x' }} 400w,
                                 {{ block.settings.image_1 | img_url: '600x' }} 800w,
                                 {{ block.settings.image_1 | img_url: '800x' }} 1200w"
                         sizes="100vw,
                                (min-width: 800px) 60vw,
                                (min-width: 1400px) 40vw"
                         src="{{ block.settings.image_1 | img_url: '800x' }}"
                         class="content-card__gallery-image content-card__gallery-image--main"
                         alt="{{ block.settings.image_1.alt | default: block.settings.title | escape }}"
                    />                  
                  {% endif %}
                  {% if block.settings.image_2 != blank %}
                    <img srcset="{{ block.settings.image_2 | img_url: '500x' }} 400w,
                                 {{ block.settings.image_2 | img_url: '600x' }} 800w,
                                 {{ block.settings.image_2 | img_url: '800x' }} 1200w"
                         sizes="100vw,
                                (min-width: 800px) 60vw,
                                (min-width: 1400px) 40vw"
                         src="{{ block.settings.image_2 | img_url: '800x' }}"
                         class="content-card__gallery-image content-card__gallery-image--alt"
                         alt="{{ block.settings.image_2.alt | default: block.settings.title | escape }}"
                    />                  
                  {% endif %}                  
                </div>
                <div class="content-card__copy">
                  <h4>{{ block.settings.title }}</h4>
                  {% if block.settings.button_text != blank and block.settings.link != blank %}
                    <a href="{{ block.settings.link }}" class="btn" {% if block.settings.link contains 'http' %}target="_blank"{% endif %}>
                      {{ block.settings.button_text }}
                    </a>
                  {% endif %}
                </div>

                {% if block.settings.link != blank %}
                  </a>
                {% endif %}                
              </div>         
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="statement-output rte" style="max-width: 500px;" data-output></div>
  </div>
</div>

{% schema %}
  {
    "name": "Phase 3",
    "max_blocks": 2,
    "settings": [
      {
        "type": "richtext",
        "id": "statement_text",
        "label": "Statement Text"
      }
    ],
    "blocks" : [
      {
        "type": "content_card",
        "name": "Content Card",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Card Link"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          }
        ]
      }
    ]
  }
{% endschema %}
