<div data-section-id="{{ section.id }}" data-section-type="video-background">
  {% assign orientations = 'landscape' | split: ' ' %}

  {% for orientation in orientations %}
    {% assign setting_handle = orientation | append: '_video_file_url' %}
    {% assign poster_setting_handle = orientation | append: '_poster_image' %}
    {% assign src = section.settings[setting_handle] %}

    {% if src != blank %}
      {% assign video_type = '' %}

      {% if src contains '.mp4' %}
        {% assign video_type = 'mp4' %}
      {% elsif src contains '.og' %}
        {% assign video_type = 'ogg' %}
      {% elsif src contains '.avi' %}
        {% assign video_type = 'avi' %}
      {% elsif src contains '.webm' %}
        {% assign video_type = 'webm' %}
      {% endif %}

      {% if video_type == '' %}
        <!-- ALERT: Your video is invalid -->
      {% else %}
        <div class="video-background" data-video-{{ orientation }}>
          <video autoplay muted playsinline>
            <source data-src="{{ src }}" type="video/{{ video_type }}" />
          </video>
          <img data-src="{{ section.settings[poster_setting_handle] | img_url: '1600x' }}" />
        </div>
      {% endif %}
    {% endif %}    
  {% endfor %} 

  <audio loop>
    {% if section.settings.audio_file_url_mp3 != blank %}
      <source src="{{ section.settings.audio_file_url_mp3 }}" type="audio/mpeg">
    {% endif %}
    {% if section.settings.audio_file_url_ogg != blank %}
      <source src="{{ section.settings.audio_file_url_ogg }}" type="audio/ogg">
    {% endif %}
  </audio>

  <div class="video-background-content">
    {% if section.settings.countdown_text != blank %}
      <div class="video-background-text">{{ section.settings.countdown_text }}</div>
    {% endif %}
    <div class="video-background-countdown" data-countdown="{{ section.settings.countdown_end_time }}">
  </div>
</div>

{% schema %}
  {
    "name": "Video Background",
    "settings": [
      {
        "type": "header",
        "content": "Landscape Video"
      },
      {
        "type": "url",
        "id": "landscape_video_file_url",
        "label": "Video File URL"
      },
      {
        "type": "image_picker",
        "id": "landscape_poster_image",
        "label": "Video Poster Image"
      },
      {
        "type": "header",
        "content": "Audio"
      }, 
      {
        "type": "url",
        "id": "audio_file_url_mp3",
        "label": "Audio File URL (mp3)"
      },
      {
        "type": "url",
        "id": "audio_file_url_ogg",
        "label": "Audio File URL (ogg)"
      },
      {
        "type": "header",
        "content": "Countdown"
      },
      {
        "type": "text",
        "id": "countdown_text",
        "label": "Text"
      },     
      {
        "type": "text",
        "id": "countdown_end_time",
        "label": "End Time",
        "info": "JS format: i.e. 'November 10 2020 06:00:00 GMT-0800'"
      }
    ]
  }
{% endschema %}