<div data-section-id="{{ section.id }}" data-section-type="video-background">
  {% assign src = section.settings.video_file_url %}

  {% if src != blank %}
    {% assign video_type = '' %}

    {% if src contains '.mp4' %}
      {% assign video_type = 'mp4' %}
    {% elsif src contains '.og' %}
      {% assign video_type = 'ogg' %}
    {% elsif src contains '.avi' %}
      {% assign video_type = 'avi' %}
    {% elsif src contains '.webm' %}
      {% assign video_type = 'webm' %}
    {% endif %}

    {% if video_type == '' %}
      <!-- ALERT: Your video is invalid -->
    {% else %}
      <div class="video-background">
        <video muted loop playsinline>
          <source data-src="{{ src }}" type="video/{{ video_type }}" />
        </video>
      </div>

      <audio loop>
        {% if section.settings.audio_file_url_mp3 != blank %}
          <source src="{{ section.settings.audio_file_url_mp3 }}" type="audio/mpeg">
        {% endif %}
        {% if section.settings.audio_file_url_ogg != blank %}
          <source src="{{ section.settings.audio_file_url_ogg }}" type="audio/ogg">
        {% endif %}
      </audio>
    {% endif %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Video Background",
    "settings": [
      {
        "type": "url",
        "id": "video_file_url",
        "label": "Video File URL"
      },
      {
        "type": "url",
        "id": "audio_file_url_mp3",
        "label": "Synced Audio File URL (mp3)"
      },
      {
        "type": "url",
        "id": "audio_file_url_ogg",
        "label": "Synced Audio File URL (ogg)"
      }
    ]
  }
{% endschema %}