<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
{% render 'ascii-art' %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | img_url: '32x32' }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | img_url: '16x16' }}">
  {% endif %}
  
  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {% comment %}
  {% include 'modernizr' %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'password.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'password.js' | asset_url }}"></script><![endif]-->  
  {% endcomment %}

  {{ content_for_header }}

  <!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% include 'reamaze-config' %}
{% include 'reamaze-sso' %}
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->

</head>

{% capture body_class %}
  template-{{ template.name | handle }}
  {% if template.suffix != blank %} template-{{ template.name | append: '-' | append: template.suffix | handle }} {% endif %}
{% endcapture %}

<body id="password" class="{{ body_class | strip | strip_newlines }}">
  {{ content_for_layout }}
</body>
</html>
