<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">

  {% include 'favicon' %}

  <title>{% render 'document-title' %}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        adding: {{ 'products.product.adding' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% include 'modernizr' %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}

  {% render 'third-party-scripts-head' %}

  <!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% include 'reamaze-config' %}
{% include 'reamaze-sso' %}
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->

</head>

{% capture body_class %}
  template-{{ template.name | handle }}
  {% if template.suffix != blank %}
    template-{{ template.name | append: '-' | append: template.suffix | handle }}
  {% endif %}
{% endcapture %}

<body id="{{ page_title | handle }}" class="{{ body_class | strip | strip_newlines }}">
  <script type="text/javascript">document.body.className += ' is-loading';</script>

  {% if settings.gtm_container_id != blank %}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.gtm_container_id }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {% endif %} 

  <a class="in-page-link visually-hidden skip-link" href="#view-container">
    {{ 'general.accessibility.skip_to_content' | t }}
  </a>  

  <div class="layout-wrapper">
    <div class="layout">
      {% section 'header' %}

      <main id="view-container" class="view-container" role="main">
        <div class="view-content">
          {{ content_for_layout }}
        </div>
      </main>

      {% section 'footer' %}
    </div>
  </div>

  {% section 'homepage-background' %}
  {% section 'background-media' %}
  {% section 'ajax-cart' %}  
</body>
</html>
